.swiper-slide .play-btn{
    opacity: 0;
    transition: bottom 0.5s ease-out;
    bottom: 0;
}

.swiper-slide:hover .play-btn{
    opacity: 1;
    bottom: 8px;
}

.swiper-slide .play-btn:hover{
    transform: scale(1.05);
}


