.swiper-slide .play-btn {
  opacity: 0;
  transition: bottom 0.5s ease-out;
  bottom: 0;
}

.swiper-slide:hover .play-btn {
  opacity: 1;
  bottom: 8px;
}

.swiper-slide .play-btn:hover {
  transform: scale(1.05);
}

.left-section .lists .scrollbar {
  width: 10px;
  background-color: #ccc;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: none; /* Hide scrollbar by default */
}




.swiper:hover .swiper-button-next{
  display: block;
}

.swiper:hover .swiper-button-prev{
  display: block;
}

.swiper-button-disabled{
  display: none !important;
}

.swiper-button-next, .swiper-button-prev{
  display: none;
}

.swiper-button-next:after{
  content: 'next';
  color: white;
  font-weight: 600;
  font-size: 30px;
}

.swiper-button-prev:after{
  content: 'prev';
  color: white;
  font-weight: 600;
  font-size: 30px;
}


.swipercard .play-btn {
  opacity: 0;
  transition: bottom 0.5s ease-out;
  bottom: 0;
}

.swipercard:hover .play-btn {
  opacity: 1;
  bottom: 8px;
}

.swipercard .play-btn:hover {
  transform: scale(1.05);
}